openapi: 3.0.1
info:
  title: SunRocks API
  termsOfService: https://www.sunrocks.at/
  contact:
    email: office@sunrocks.at
  version: 4.1.0
servers:
  - url: https://integration.sunrocks.at/
paths:
  /alive:
    get:
      summary: API Status
      responses:
        "204":
          description: no content
          content: {}
  /insurances/{identificationNumber}:
    get:
      summary: Get Information about an insurance
      parameters:
        - name: identificationNumber
          in: path
          description: "Identifikationsnummer (Seriennummer, Rahmennnummer,...)"
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Found
          content:
            "*/*":
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  customer_name:
                    type: string
                  customer_number:
                    type: string
                  inception_date:
                    type: string
                    format: date-time
                  insurance_end:
                    type: string
                    format: date-time
                  state:
                    type: string
                    enum:
                      - canceled
                      - draft
                      - review
                      - activated
                      - expired
                      - uncovered
                xml:
                  name: GetInsuranceResponse
        "404":
          description: NotFound
          content: {}
  /insurances:
    post:
      summary: Neue Versicherung anlegen
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - city
                - customerName
                - customerNumber
                - email
                - inceptionDate
                - inputTaxDeduction
                - insuranceCode
                - insuranceRetailPrice
                - isCompany
                - manufacturer
                - model
                - retailPrice
                - sellingDate
                - serialNumber
                - storeNumber
                - street
                - zipCode
              type: object
              properties:
                invoice:
                  type: string
                  description: Rechnung (PDF)
                  format: binary
                invoiceNumber:
                  type: string
                  description:
                    Rechnungsnummer (optional - wird nicht automatisch
                    aus dem Filenamen uebernommen)
                storeNumber:
                  type: string
                  description: Filialen ID (wird pro Filiale bekannt gegeben)
                employeeNumber:
                  type: string
                  description: externe Mitarbeiter Nummer
                insuranceCode:
                  type: string
                  description: Code der gewählten Versicherung
                inceptionDate:
                  type: string
                  description: Versicherungsbeginn
                  format: date
                manufacturer:
                  type: string
                  description: Hersteller des Gerätes
                model:
                  type: string
                  description: "Modell (zB iPhone 6S,...)"
                serialNumber:
                  type: string
                  description: Seriennummer
                retailPrice:
                  type: number
                  description:
                    Verkaufspreis lt. Rechnung (muss innerhalb des Abdeckungsbereiches
                    der verlinkten Versicherung liegen. Wenn nicht wird ein Fehler
                    (400-Bad Request) geliefert)
                insuranceRetailPrice:
                  type: number
                  description: Verkaufspreis der Versicherung
                sellingDate:
                  type: string
                  description: Verkaufsdatum
                  format: date
                customerNumber:
                  type: string
                  description: Kundennummer (aus externem System)
                isCompany:
                  type: boolean
                  description: Firma ja/nein
                inputTaxDeduction:
                  type: boolean
                  description: Vorsteuerabzug ja/nein
                customerName:
                  type: string
                  description: Firmenname (wenn Firma) oder Vor- und Nachname
                street:
                  type: string
                  description: Straße + Nummer
                zipCode:
                  type: string
                  description: PLZ
                city:
                  type: string
                  description: Stadt
                country:
                  type: string
                  description: Land (optional)
                vat:
                  type: string
                  description:
                    UID Nummer; Pflichtfeld wenn inputTaxDeduction gesetzt
                    wurde
                email:
                  type: string
                  description: E-Mail Adresse
                  format: email
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  resId:
                    type: string
                xml:
                  name: CreateSaleResponse
            application/xml:
              schema:
                type: object
                properties:
                  resId:
                    type: string
                xml:
                  name: CreateSaleResponse
        "400":
          description: Bad Request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
  /grave-insurances:
    post:
      summary: Neue Grabstellenversicherung anlegen
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - city
                - customerName
                - customerNumber
                - email
                - graveNumber
                - inceptionDate
                - insuranceCode
                - insuranceRetailPrice
                - sellingDate
                - storeNumber
                - street
                - zipCode
              type: object
              properties:
                invoice:
                  type: string
                  description: "Rechnung (PDF, JPEG, PNG)"
                  format: binary
                storeNumber:
                  type: string
                  description: Filialen ID (wird pro Filiale bekannt gegeben)
                insuranceCode:
                  type: string
                  description: Code der gewählten Versicherung
                inceptionDate:
                  type: string
                  description: Versicherungsbeginn
                  format: date
                graveNumber:
                  type: string
                  description: Identifikationsnnummer des Grabes (Grabadresse)
                insuranceRetailPrice:
                  type: number
                  description: Verkaufspreis der Versicherung
                sellingDate:
                  type: string
                  description: Verkaufsdatum
                  format: date
                customerNumber:
                  type: string
                  description: Kundennummer (aus externem System)
                customerName:
                  type: string
                  description: Vor- und Nachname
                street:
                  type: string
                  description: Straße + Nummer
                zipCode:
                  type: string
                  description: PLZ
                city:
                  type: string
                  description: Stadt
                country:
                  type: string
                  description: Land (optional)
                email:
                  type: string
                  description: E-Mail Adresse
                  format: email
        required: true
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  insurance_id:
                    type: string
                xml:
                  name: CreateGraveInsuranceResponse
            application/xml:
              schema:
                type: object
                properties:
                  insurance_id:
                    type: string
                xml:
                  name: CreateGraveInsuranceResponse
        "400":
          description: Bad Request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
  /account:
    post:
      summary: Neuen Account anlegen
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - email
                - name
                - address_street
                - address_zipcode
                - address_city
                - external_customer_number
              type: object
              properties:
                email:
                  type: string
                  description: E-Mail Adresse für den Zugang zum Kund:innenportal
                name:
                  type: string
                  description: Name (Person oder Firma)
                phone:
                  type: string
                  description: Telefonnummer
                is_company:
                  type: boolean
                  description: Firma ja/nein
                  default: false
                input_tax_deduction:
                  type: boolean
                  description: Vorsteuerabzug ja/nein
                  default: false
                vat:
                  type: string
                  description: UID Nummer (bei Firmen)
                address_street:
                  type: string
                  description: Straße und Hausnummer
                address_zipcode:
                  type: string
                  description: PLZ
                address_city:
                  type: string
                  description: Ort
                address_country:
                  type: string
                  description: Land
                  default: "Österreich"
                birthday:
                  type: string
                  description: Geburtsdatum (bei Personen)
                  format: date
                external_customer_number:
                  type: string
                  description: Kund:innenummer externes System (z.B. Mitgliedsnummer)
        required: true
      responses:
        "201":
          description: successfully created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        "400":
          description: Bad Request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
  /account/{external_customer_number}:
    put:
      summary: Account aktualisieren
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: E-Mail Adresse für den Zugang zum Kund:innenportal
                name:
                  type: string
                  description: Name (Person oder Firma)
                phone:
                  type: string
                  description: Telefonnummer
                is_company:
                  type: boolean
                  description: Firma ja/nein
                  default: false
                input_tax_deduction:
                  type: boolean
                  description: Vorsteuerabzug ja/nein
                  default: false
                vat:
                  type: string
                  description: UID Nummer (bei Firmen)
                address_street:
                  type: string
                  description: Straße und Hausnummer
                address_zipcode:
                  type: string
                  description: PLZ
                address_city:
                  type: string
                  description: Ort
                address_country:
                  type: string
                  description: Land
                  default: "Österreich"
                birthday:
                  type: string
                  description: Geburtsdatum (bei Personen)
                  format: date
        required: true
      responses:
        "200":
          description: successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
        "400":
          description: Bad Request
          content: {}
        "401":
          description: Unauthorized
          content: {}
        "403":
          description: Forbidden
          content: {}
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
